<div class="container-fluid">
  <div class="jumbotron">

  <h1 class="display-3">Welcome !</h1>
  <p class="lead">Boutique de vente en ligne de photos de chatons</p>

  </br>
  <p class="lead">
  <a class="btn btn-primary btn-md" href="#" role="button">Voir les photos</a>
  <a class="btn btn-secondary btn-md" href="<%= new_user_registration_path %>" role="button">Créer un profil</a>
  </p>
</div>
</div>