

<div class="footer">
   <div class="container">
        <div class="row">
          <div class="col-lg-3">
            <h4>Social Network</h2>
<<<<<<< HEAD
                  <%= image_tag("icons/fcbk_logo.png", style: "width: 25px;", :class => "card-img-top")%>
                  <%= image_tag("icons/insta_logo.png", style: "width: 25px;", :class => "card-img-top")%>
                  <%= image_tag("icons/twitter_logo.png", style: "width: 25px;", :class => "card-img-top")%>
=======
>>>>>>> 7779122f335c028786db5c7964e92115cd18862b
          </div>
          <div class="col-lg-6">
            <h4>Nous contacter</h4>
              <p>random[@]mail.com</p>
          </div>
          <div class="col-lg-3">
            <h4>Mentions légales</h4>
          </div>
        </div>  
</div>