

<div class="footer">
   <div class="container">
        <div class="row">
          <div class="col-lg-3">
            <h4>Social Network</h2>
                  <a href="#"><img data-src="holder.js/32x32?theme=thumb&amp;bg=007bff&amp;fg=007bff&amp;size=1" alt="32x32" class="mr-2 rounded" style="width: 32px; height: 32px;" src="app/assets/images/icons/insta_logo.png" data-holder-rendered="true"></a>
                  <a href="#"><img data-src="holder.js/32x32?theme=thumb&amp;bg=007bff&amp;fg=007bff&amp;size=1" alt="32x32" class="mr-2 rounded" style="width: 32px; height: 32px;" src="twitter_logo.png" data-holder-rendered="true"></a>
                  <a href="#"><img data-src="holder.js/32x32?theme=thumb&amp;bg=007bff&amp;fg=007bff&amp;size=1" alt="32x32" class="mr-2 rounded" style="width: 32px; height: 32px;" src="fcbk_logo.png" data-holder-rendered="true"></a>
          </div>
          <div class="col-lg-6">
            <h4>Nous contacter</h4>
              <p>random[@]mail.com</p>
          </div>
          <div class="col-lg-3">
            <h4>Mentions légales</h4>
          </div>
        </div>  
</div>