

<div class="footer">
   <div class="container">
        <div class="row">
          <div class="col-lg-3">
            <h4>Social Network</h2>
          </div>
          <div class="col-lg-6">
            <h4>Nous contacter</h4>
              <p>random[@]mail.com</p>
          </div>
          <div class="col-lg-3">
            <h4>Mentions légales</h4>
          </div>
        </div>  
</div>